<?xml version="1.0"?>
<!--
/**
 * Collab GoogleTranslateService for Magento
 *
 * @author      Marcin Jędrzejewski <m.jedrzejewski@collab.pl>
 * @copyright   Collab
 * @license     MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Collab\GoogleTranslateService\Api\Data\ConfigInterface"
                type="Collab\GoogleTranslateService\Model\Data\Config"/>
    
    <!-- Virtual type for CloudTranslate service with proper logger -->
    <virtualType name="Collab\GoogleTranslateService\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">GoogleTranslateService</argument>
        </arguments>
    </virtualType>
    
    <type name="Collab\GoogleTranslateService\Service\CloudTranslate">
        <arguments>
            <argument name="logger" xsi:type="object">Collab\GoogleTranslateService\Logger</argument>
        </arguments>
    </type>
</config>
