<?xml version="1.0"?>
<!--
/**
 * Collab GoogleTranslateService for Magento
 *
 * @author      Marcin Jędrzejewski <m.jedrzejewski@collab.pl>
 * @copyright   Collab
 * @license     MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="collab" translate="label" sortOrder="100">
            <label>Collab</label>
        </tab>
        <section id="collab_googletranslateservice" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Translate Service</label>
            <tab>collab</tab>
            <resource>Collab_GoogleTranslateService::management</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API Configuration</label>
                <field id="api_key" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Enter Yours Google Translate API key here.</comment>
                </field>
                <field id="referer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Referer</label>
                    <comment>Enter Yours website URL here.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
